Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/configure.ac
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.o
*~

/INSTALL
data/xfce4-touchpadtoggled.desktop
src/xfce4-touchpadtoggled
