<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">xfce4-touchpadtoggled</name>
  <shortdesc xml:lang="en">Basic daemon that manages the XF86 Touchpad Toggle key and displays status notifications</shortdesc>
  <homepage rdf:resource="https://github.com/alkar/xfce4-touchpadtoggled"/>
  <mailing-list rdf:resource="https://lists.ubuntu.com/mailman/listinfo/xubuntu-devel"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Dimitrios Karagiannis</foaf:name>
      <foaf:mbox>mailto:dhkarag@gmail.com</foaf:mbox>
    </foaf:Person>
  </maintainer>
</Project>
